<template>
    <div class="mega-menu">
        <div class="mega-menu-main">
            <a href="#"><i class="fa fa-bars view_headline"></i>Departamentos</a>
            <div class="mega-menu-base">
                <ul>
                    <li class="text-bold"><a href="#">Academia e Treino</a></li>
                    <li class="text-bold"><a href="#">Alimentação Saudável</a></li>
                    <li class="text-bold"><a href="#">Artes Marciais</a></li>
                    <li class="text-bold"><a href="#">Automobilismo</a></li>
                    <li class="text-bold"><a href="#">Aventura</a></li>
                    <li class="text-bold"><a href="#">Baseball</a></li>
                    <li class="text-bold"><a href="#">Basquete</a></li>
                    <li class="text-bold"><a href="#">Bicicleta</a></li>
                    <li class="text-bold"><a href="#">Casual</a></li>
                    <li class="text-bold"><a href="#">Corrida</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>