<template>
    <div class="mobile-view">
        <div class="container">
            <!-- offcanvas toggle -->
            <a href="#" class="offcanvas-toggle">
            <i class="fa fa-bars"></i>
            </a>

            <!-- mobile view logo -->
            <a href="index.html" class="logo">
            <img src="assets/images/netshoes-logo.svg" alt="Logotipo Netshoes">
            </a>

            <!-- Cart dropdown element -->
            <div class="cart-container">
                <a href="#" class="cart-link">
                <i class="fa fa-shopping-cart"></i>
                <span class="counter">24</span>
                </a>
            </div>
            </div>
        </div>
    </div>
</template>