<template>
    <ul class="main-nav">
        <!-- 1st Level -->
        <li class="nav-item dropdown lvl-1 current">
            <a href="#">Homens</a>
            <ul class="sub-menu">
                <!-- 2nd level -->
                <li class="nav-item lvl-2 current">
                    <a href="index.html">Hero Slider</a>
                </li>
                <li class="nav-item lvl-2">
                    <a href="home-category-tiles.html">Category Tiles</a>
                </li>
                <li class="nav-item lvl-2">
                    <a href="home-featured-products.html">Featured Products</a>
                </li>
                <li class="nav-item lvl-2">
                    <a href="home-week-deals.html">Deals of the Week</a>
                </li>
                <!-- // -->
            </ul>
        </li>
        <!-- // -->
        <!-- 1st Level -->
        <li class="nav-item dropdown lvl-1">
            <a href="#">Shop</a>

            <ul class="sub-menu">
            <!-- 2nd Navigation Level -->
            <li class="nav-item dropdown lvl-2">
                <a href="#">Shop Pages</a>
                <ul class="sub-menu">
                    <li>
                        <a href="shop-grid-3cols-sl.html">Grid 3 Cols Sidebar Left</a>
                    </li>
                    <li>
                        <a href="shop-grid-2cols-sl.html">Grid 2 Cols Sidebar Left</a>
                    </li>
                    <li>
                        <a href="shop-grid-3cols-sr.html">Grid 3 Cols Sidebar Right</a>
                    </li>
                    <li>
                        <a href="shop-grid-2cols-sr.html">Grid 2 Cols Sidebar Right</a>
                    </li>
                    <li>
                        <a href="shop-grid-4cols-ns.html">Grid 4 Cols No Sidebar</a>
                    </li>
                    <li>
                        <a href="shop-grid-3cols-ns.html">Grid 3 Cols No Sidebar</a>
                    </li>
                    <li>
                        <a href="shop-grid-2cols-ns.html">Grid 2 Cols No Sidebar</a>
                    </li>
                    <li>
                        <a href="shop-list-sl.html">List Sidebar Left</a>
                    </li>
                    <li>
                        <a href="shop-list-sr.html">List Sidebar Right</a>
                    </li>
                    <li>
                        <a href="shop-list-ns.html">List No Sidebar</a>
                    </li>
                </ul>
            </li><!-- 2nd Navigation Level END -->
            <!-- 2nd Navigation Level -->
            <li class="nav-item dropdown lvl-2">
                <a href="#">Categories</a>

                <ul class="sub-menu">
                <li>
                    <a href="shop-cat-4cols.html">Grid 4 Columns</a>
                </li>
                <li>
                    <a href="shop-cat-3cols.html">Grid 3 Columns</a>
                </li>
                <li>
                    <a href="shop-cat-2cols.html">Grid 2 Columns</a>
                </li>
                </ul>
            </li><!-- 2nd Navigation Level END -->
            <li class="nav-item dropdown lvl-2">
                <a href="#">Product Pages</a>

                <ul class="sub-menu">
                <li>
                    <a href="product-gallery-left.html">Product Gallery Left</a>
                </li>
                <li>
                    <a href="product-gallery-right.html">Product Gallery Right</a>
                </li>
                <li>
                    <a href="product-grouped.html">Product Grouped</a>
                </li>
                <li>
                    <a href="product-affiliate.html">Product Affiliate</a>
                </li>
                <li>
                    <a href="product-out-stock.html">Product Out of Stock</a>
                </li>
                </ul>
            </li>
            <!-- 2nd Navigation Level -->
            <li class="nav-item dropdown lvl-2">
                <a href="#">Orders</a>

                <ul class="sub-menu">
                <li>
                    <a href="shopping-cart.html">Shopping Cart</a>
                </li>
                <li>
                    <a href="checkout-simple.html">Checkout Simple</a>
                </li>
                <li>
                    <a href="checkout-wizard.html">Checkout Steps Wizard</a>
                </li>
                </ul>

            </li><!-- 2nd Navigation Level END -->
            <!-- 2nd Navigation Level -->
            <li class="nav-item lvl-2">
                <a href="products-compare.html">Products Comparison</a>
            </li><!-- 2nd Navigation Level END -->
            <!-- 2nd Navigation Level -->
            <li class="nav-item dropdown lvl-2">
                <a href="#">Account</a>

                <ul class="sub-menu">
                <li>
                    <a href="account-login.html">Log In / Sign Up</a>
                </li>
                <li>
                    <a href="account-wishlist.html">Wishlist</a>
                </li>
                <li>
                    <a href="account-order-track.html">Track your Order</a>
                </li>
                <li>
                    <a href="account-orders-list.html">Orders List</a>
                </li>
                <li>
                    <a href="account-order-info.html">Order Information</a>
                </li>
                <li>
                    <a href="account-user-info.html">User Information</a>
                </li>
                </ul>
            </li><!-- 2nd Navigation Level END -->
            </ul>
        </li>
        <!-- // -->
        <!-- 1st Level -->
        <li class="nav-item dropdown lvl-1">
            <a href="#">Blog</a>
            <!-- 2nd Level -->
            <ul class="sub-menu">
                <li class="nav-item lvl-2">
                    <a href="blog-grid.html">Grid View</a>
                </li>
                <li class="nav-item lvl-2">
                    <a href="blog-single.html">Single Post</a>
                </li>
            </ul>
        </li>
        <!-- // -->
        <!-- 1st Level -->
        <li class="nav-item dropdown lvl-1">
            <a href="#">Gallery</a>
            <!-- 2nd Level -->
            <ul class="sub-menu">
                <li class="nav-item lvl-2">
                    <a href="gallery-masonry.html">Masonry Grid</a>
                </li>
                <li class="nav-item lvl-2">
                    <a href="gallery-4cols.html">Grid 4 Columns</a>
                </li>
                <li class="nav-item lvl-2">
                    <a href="gallery-3cols.html">Grid 3 Columns</a>
                </li>
                <li class="nav-item lvl-2">
                    <a href="gallery-2cols.html">Grid 2 Columns</a>
                </li>
            </ul>
            <!-- // -->
        </li>
        <!-- // -->
        <!-- 1st Level -->
        <li class="nav-item dropdown lvl-1">
            <a href="#">Pages</a>
            <!-- 2nd Level -->
            <ul class="sub-menu">
                <li class="nav-item lvl-2">
                    <a href="page-about.html">About Us</a>
                </li>
                <li class="nav-item lvl-2">
                    <a href="page-faq.html">FAQ</a>
                </li>
                <li class="nav-item lvl-2">
                    <a href="page-store-locator.html">Store Locator</a>
                </li>
                <li class="nav-item lvl-2">
                    <a href="page-404.html">404</a>
                </li>
            </ul>
            <!-- // -->
        </li>
        <!-- // -->
        <!-- 1st Level -->
        <li class="nav-item lvl-1">
            <a href="elements.html">Elements</a>
        </li>
        <!-- // -->
    </ul>
</template>