<template>
    <ul class="main-nav">
        <!-- 1st Level -->
        <li class="nav-item dropdown lvl-1 current">
            <a href="#">Homens</a>
            <ul class="sub-menu">
                <!-- 2nd level -->
                <li class="nav-item lvl-2"><a href="#">TÊNIS</a></li>
                <li class="nav-item lvl-2"><a href="#">Artes Marciais</a></li>
                <li class="nav-item lvl-2"><a href="#">Automobilismo</a></li>
                <li class="nav-item lvl-2"><a href="#">Aventura</a></li>
                <li class="nav-item lvl-2"><a href="#">Basquete</a></li>
                <li class="nav-item lvl-2"><a href="#">Caminhada ou Dia-a-Dia</a></li>
                <li class="nav-item lvl-2"><a href="#">Corrida</a></li>
                <li class="nav-item lvl-2"><a href="#">Lifestyle</a></li>
                <li class="nav-item lvl-2"><a href="#">Handebol</a></li>
                <li class="nav-item lvl-2"><a href="#">Skate</a></li>
                <li class="nav-item lvl-2"><a href="#">Surf</a></li>
                <li class="nav-item lvl-2"><a href="#">Tennis e Squash</a></li>
                <li class="nav-item lvl-2"><a href="#">Vôlei</a></li>
                <li class="nav-item lvl-2"><a href="#">CALÇADOS</a></li>
                <li class="nav-item lvl-2"><a href="#">Botas</a></li>
                <li class="nav-item lvl-2"><a href="#">Chinelos e Sandálias</a></li>
                <li class="nav-item lvl-2"><a href="#">Chuteiras</a></li>
                <li class="nav-item lvl-2"><a href="#">Sapatênis</a></li>
                <!-- // -->
            </ul>
        </li>
        <!-- // -->
        <!-- 1st Level -->
        <li class="nav-item dropdown lvl-1">
            <a href="#">Crianças</a>
        </li>
        <!-- // -->
        <!-- 1st Level -->
        <li class="nav-item dropdown lvl-1">
            <a href="#">Calçados</a>
        </li>
        <!-- // -->
        <!-- 1st Level -->
        <li class="nav-item dropdown lvl-1">
            <a href="#">Roupas</a>
        </li>
        <!-- // -->
        <!-- 1st Level -->
        <li class="nav-item dropdown lvl-1">
            <a href="#">Suplementos</a>
        </li>
        <!-- // -->
        <!-- 1st Level -->
        <li class="nav-item lvl-1">
            <a href="#">Ofertas</a>
        </li>
        <!-- // -->
    </ul>
</template>