<template>
    <div off-canvas="left push" class="off-canvas-cont" style="margin-left: -255px;">
        <!-- sidebar navtools -->
        <div class="side-nav-tools">
            <a href="#">
                <i class="material-icons language"></i>
            </a>
            <a href="account-login.html">
                <i class="material-icons person"></i>
            </a>
            <a href="#">
                <i class="material-icons attach_money"></i>
            </a>
            <a href="#" class="offcanvas-toggle inner-toggle">
                <i class="material-icons close"></i>
            </a>
        </div>
        <!-- // -->
        <!-- sidebar searchfield -->
        <div class="widget search margin-bottom-none">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control input-sm" placeholder="Busca por tênis, mochila...">
        </div>
        <!-- // -->

        <nav class="offcanvas-navigation" role="navigation" data-back-btn-text="Back">
            <div class="menu-site-menu-container">
                <ul class="menu">
                    <li class="menu-item menu-item-has-children current">
                    <a href="#">Home</a>

                    <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                        <li class="menu-item current">
                        <a href="index.html">Hero Slider</a>
                        </li>
                        <li class="menu-item">
                        <a href="home-category-tiles.html">Category</a>
                        </li>
                        <li class="menu-item">
                        <a href="home-featured-products.html">Feature</a>
                        </li>
                        <li class="menu-item">
                        <a href="home-week-deals.html">Deals of the Week</a>
                        </li>
                    </ul>
                    </li>

                    <li class="menu-item menu-item-has-children">
                    <a href="#">Shop</a>

                    <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                        <li class="menu-item-has-children">
                        <a href="#">Shop Pages</a>

                        <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                            <li>
                            <a href="shop-grid-3cols-sl.html">Grid 3 Cols Sidebar Left</a>
                            </li>
                            <li>
                            <a href="shop-grid-2cols-sl.html">Grid 2 Cols Sidebar Left</a>
                            </li>
                            <li>
                            <a href="shop-grid-3cols-sr.html">Grid 3 Cols Sidebar Right</a>
                            </li>
                            <li>
                            <a href="shop-grid-2cols-sr.html">Grid 2 Cols Sidebar Right</a>
                            </li>
                            <li>
                            <a href="shop-grid-4cols-ns.html">Grid 4 Cols No Sidebar</a>
                            </li>
                            <li>
                            <a href="shop-grid-3cols-ns.html">Grid 3 Cols No Sidebar</a>
                            </li>
                            <li>
                            <a href="shop-grid-2cols-ns.html">Grid 2 Cols No Sidebar</a>
                            </li>
                            <li>
                            <a href="shop-list-sl.html">List Sidebar Left</a>
                            </li>
                            <li>
                            <a href="shop-list-sr.html">List Sidebar Right</a>
                            </li>
                            <li>
                            <a href="shop-list-ns.html">List No Sidebar</a>
                            </li>
                        </ul>
                        </li>

                        <li class="menu-item-has-children">
                        <a href="#">Categories</a>

                        <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                            <li>
                            <a href="shop-cat-4cols.html">Grid 4 Columns</a>
                            </li>
                            <li>
                            <a href="shop-cat-3cols.html">Grid 3 Columns</a>
                            </li>
                            <li>
                            <a href="shop-cat-2cols.html">Grid 2 Columns</a>
                            </li>
                        </ul>
                        </li>

                        <li class="menu-item-has-children">
                        <a href="#">Product Pages</a>

                        <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                            <li>
                            <a href="product-gallery-left.html">Product Gallery Left</a>
                            </li>
                            <li>
                            <a href="product-gallery-right.html">Product Gallery Right</a>
                            </li>
                            <li>
                            <a href="product-grouped.html">Product Grouped</a>
                            </li>
                            <li>
                            <a href="product-affiliate.html">Product Affiliate</a>
                            </li>
                            <li>
                            <a href="product-out-stock.html">Product Out of Stock</a>
                            </li>
                        </ul>
                        </li>

                        <li class="menu-item-has-children">
                        <a href="#">Orders</a>

                        <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                            <li>
                            <a href="shopping-cart.html">Shopping Cart</a>
                            </li>
                            <li>
                            <a href="checkout-simple.html">Checkout Simple</a>
                            </li>
                            <li>
                            <a href="checkout-wizard.html">Checkout Steps Wizard</a>
                            </li>
                        </ul>
                        </li>

                        <li>
                        <a href="products-compare.html">Products Comparison</a>
                        </li>

                        <li class="menu-item-has-children">
                        <a href="#">Account</a>

                        <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                            <li>
                            <a href="account-login.html">Log In / Sign Up</a>
                            </li>
                            <li>
                            <a href="account-wishlist.html">Wishlist</a>
                            </li>
                            <li>
                            <a href="account-order-track.html">Track your Order</a>
                            </li>
                            <li>
                            <a href="account-orders-list.html">Orders List</a>
                            </li>
                            <li>
                            <a href="account-order-info.html">Order Information</a>
                            </li>
                            <li>
                            <a href="account-user-info.html">User Information</a>
                            </li>
                        </ul>
                        </li>
                    </ul>
                    </li>

                    <li class="menu-item-has-children">
                    <a href="#">Blog</a>

                    <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                        <li>
                        <a href="blog-grid.html">Grid View</a>
                        </li>
                        <li>
                        <a href="blog-single.html">Single Post</a>
                        </li>
                    </ul>
                    </li>

                    <li class="menu-item-has-children">
                    <a href="#">Gallery</a>

                    <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                        <li>
                        <a href="gallery-masonry.html">Masonry Grid</a>
                        </li>
                        <li>
                        <a href="gallery-4cols.html">Grid 4 Columns</a>
                        </li>
                        <li>
                        <a href="gallery-3cols.html">Grid 3 Columns</a>
                        </li>
                        <li>
                        <a href="gallery-2cols.html">Grid 2 Columns</a>
                        </li>
                    </ul>
                    </li>

                    <li class="menu-item-has-children">
                    <a href="#">Pages</a>

                    <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                        <li>
                        <a href="page-about.html">About Us</a>
                        </li>
                        <li>
                        <a href="page-faq.html">FAQ</a>
                        </li>
                        <li>
                        <a href="page-store-locator.html">Store Locator</a>
                        </li>
                        <li>
                        <a href="page-404.html">404</a>
                        </li>
                    </ul>
                    </li>

                    <li>
                    <a href="elements.html">Elements</a>
                    </li>

                    <li class="divider"></li>

                    <li class="menu-item-has-children">
                        <a href="#">Men</a>

                    <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                        <li class="title">Outerwear</li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Training</a></li>
                        <li><a href="#">Walking</a></li>
                        <li><a href="#">Baseball</a></li>
                        <li><a href="#">Hiking &amp; Trail</a></li>
                        <li><a href="#">Soccer</a></li>
                        <li><a href="#">Tennis</a></li>

                        <li class="divider"></li>

                        <li class="title">Clothing</li>
                        <li><a href="#">Short Sleeve &amp; Sleeveless Shirts</a></li>
                        <li><a href="#">Long Sleeve Shirts</a></li>
                        <li><a href="#">Jackets &amp; Hoodies</a></li>
                        <li><a href="#">Pants</a></li>
                        <li><a href="#">Socks</a></li>
                        <li><a href="#">Accessories and Gear</a></li>
                        <li><a href="#">Recently Reduced Clothing</a></li>
                    </ul>
                    </li>

                    <li class="menu-item-has-children">

                    <a href="#">Women</a>

                    <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                        <li class="title">Outerwear</li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Training</a></li>
                        <li><a href="#">Walking</a></li>
                        <li><a href="#">Baseball</a></li>
                        <li><a href="#">Hiking &amp; Trail</a></li>
                        <li><a href="#">Soccer</a></li>
                        <li><a href="#">Tennis</a></li>

                        <li class="divider"></li>

                        <li class="title">Clothing</li>
                        <li><a href="#">Short Sleeve &amp; Sleeveless Shirts</a></li>
                        <li><a href="#">Long Sleeve Shirts</a></li>
                        <li><a href="#">Jackets &amp; Hoodies</a></li>
                        <li><a href="#">Pants</a></li>
                        <li><a href="#">Socks</a></li>
                        <li><a href="#">Accessories and Gear</a></li>
                        <li><a href="#">Recently Reduced Clothing</a></li>
                    </ul>
                    </li>

                    <li class="menu-item-has-children">

                    <a href="#">Sales</a>

                    <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                        <li class="title">Outerwear</li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Training</a></li>
                        <li><a href="#">Walking</a></li>
                        <li><a href="#">Baseball</a></li>
                        <li><a href="#">Hiking &amp; Trail</a></li>
                        <li><a href="#">Soccer</a></li>
                        <li><a href="#">Tennis</a></li>

                        <li class="divider"></li>

                        <li class="title">Clothing</li>
                        <li><a href="#">Short Sleeve &amp; Sleeveless Shirts</a></li>
                        <li><a href="#">Long Sleeve Shirts</a></li>
                        <li><a href="#">Jackets &amp; Hoodies</a></li>
                        <li><a href="#">Pants</a></li>
                        <li><a href="#">Socks</a></li>
                        <li><a href="#">Accessories and Gear</a></li>
                        <li><a href="#">Recently Reduced Clothing</a></li>
                    </ul>
                    </li>

                    <li class="menu-item-has-children">

                    <a href="#">Shoes</a>

                    <ul class="sub-menu"><li class="back-btn"><a href="#">Back</a></li>
                        <li class="title">Outerwear</li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Training</a></li>
                        <li><a href="#">Walking</a></li>
                        <li><a href="#">Baseball</a></li>
                        <li><a href="#">Hiking &amp; Trail</a></li>
                        <li><a href="#">Soccer</a></li>
                        <li><a href="#">Tennis</a></li>

                        <li class="divider"></li>

                        <li class="title">Clothing</li>
                        <li><a href="#">Short Sleeve &amp; Sleeveless Shirts</a></li>
                        <li><a href="#">Long Sleeve Shirts</a></li>
                        <li><a href="#">Jackets &amp; Hoodies</a></li>
                        <li><a href="#">Pants</a></li>
                        <li><a href="#">Socks</a></li>
                        <li><a href="#">Accessories and Gear</a></li>
                        <li><a href="#">Recently Reduced Clothing</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>