<template>
    <div class="navbar">
        <div class="container">
            <!-- mega menu -->
            <require from="partials/megamenu.html"></require>
            <megamenu containerless></megamenu>
            <!-- // -->

            <!-- main navigation -->
            <require from="partials/navbar.html"></require>
            <navbar containerless></navbar>
            <!-- // -->
        </div>
    </div>
    <!-- responsive tools -->
    <require from="partials/mobiletools.html"></require>
    <mobiletools containerless></mobiletools>
    <!-- // -->
</template>